.resume {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "photo"
        "name"
        "about"
        "work"
        "education"
        "skills"
        "community"
        "references";
}

.name {
    grid-area : name;
}

.photo {
    grid-area : photo;
}

.about {
    grid-area : about;
}

.work {
    grid-area : work;
}

.education {
    grid-area : education;
}

.community {
    grid-area : community;
}

.skills {
    grid-area : skills;
}

.references {
    grid-area : references;
}